body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	
}

.top {
	
	width: 100%;
	height: 75px;
	background-color: #4f6fff;
}


.body {
	width: 100%;
	height: 675px;
	background-color: #E5EAEB;
	
}

.profile {

	margin: 15px;
	width: 10%;
	position: fixed;
}

.textoftop {

	color: white;
	font-size: 18px;
    position: fixed;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
}

.iconimages {

	width: 25%;
    margin-left: 84%;
    position: fixed;
}

.icon {

	margin: 8px;
	height: 35px;

}

#textfile {

	width: 10%;
    margin-left: 13%;
    margin-top: 22px;

}

#arrowicon {

	height: 60px;
    margin-bottom: 30px;
    margin-top: -8px;
    margin-left: 150%;

}

.iconleft {

	height: 40px;
    margin-bottom: 15px;
    margin-right: 8px;
    margin-left: 8px;
}

.menu {

	height: 675px;
	background-color: black;
	width: 9%;
	position: fixed;
}

.content {
	
	width: : 90%;
	
}

.menubutton {

	margin-right: 22px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 4px;

}

.button {
	height: 75px;
    margin-left: 20px;
	margin-right: 20px;
    margin-bottom: 34px;
    margin-top: 32px;
}

.buttontext{

	color: white;
    font-size: 16px;
    margin-left: 18px;
    margin-right: 22px;
}

.playmenu {

	
    height: 50%;
    background-color: white;
}

.rollingg {

	margin-left: 10%;
    background-color: white;
    margin-top: 15px;
    height: 500px;
}

.bottom {

	
	background-color: #e5eaeb;
	margin-left: 10%;
	height: 25px;
	position: fixed;
	width: 90%;
   
}


.iconplaymenuright {

    width: 15%;
    margin-left: 10%;
    padding-top: 15px;
    display: inline-table;

}

.iconplaymenucenter {

    width: 15%;
    margin-left: 18%;
    padding-top: 15px;
    display: inline-table;

}



.iconplaymenuleft {

	width: 30%;
    display: inline-table;
    margin-left: 11%;

}

.textbottom {

	color: gray;
    font-size: 22px;
    font-weight: bold;
    display: inline-table;
    margin: 40px;
}



